<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title><%= lang.title %></title>
		<link rel="stylesheet" href="/style/default.css" type="text/css">
    </head>
    <body>
		<div id="quoteboard" style="display: none;" data-bind="visible: loaded">
			<header>
				<h1><%= lang.index.title %></h1>
				<a id="new-quote" href="#" data-bind="click: openNewQuote"><%= lang.index.newQuoteButton %></a>
				<div id="entry" data-bind="visible: showNewQuote">
					<form action="/quotes" method="post" id="new-quote-form" data-bind="submit: saveQuote">
						<label><textarea id="inputsaying" name="saying" rows="3" data-bind="value: newSaying, valueUpdate: 'afterkeydown', hasfocus: showNewQuote() === true"></textarea></label>
						<label><input type="text" name="author" placeholder="<%= lang.index.authorLabel %>" data-bind="value: newAuthor, valueUpdate: 'afterkeydown'"></label>
						<label><input type="date" name="day" placeholder="<%= lang.index.dayLabel %>" data-bind="value: newDay"></label>
						<label data-bind="if: formdataSupport"><input type="file" name="image" id="upImage"></label>
						<div class="controls">
							<button type="submit" data-bind="enable: quoteValid"><%= lang.index.addButton %></button>
							<a href="#" data-bind="click: closeNewQuote"><%= lang.index.cancelButton %></a>
							<a href="#" data-bind="click: upload">Upload</a>
						</div>
					</form>
				</div>
			</header>
			<ul id="quotelist" data-bind="foreach: { data: quotes, afterAdd: addQuote }">
                <li class="quote">
                	<span class="image" data-bind="if: image"><img data-bind="attr: { src: image }"></span>
                    <span class="saying" data-bind="text: saying"></span>
                    <span class="author" data-bind="text: author"></span>
                    <span class="date" data-bind="text: displayDate"></span>
                </li>
            </ul>
            <div id="noquotes" data-bind="visible: quotes().length === 0">
            	<p><%= lang.index.noQuotes %></p>
            </div>
		</div>
		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.2.min.js" type="text/javascript"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.1.0.js" type="text/javascript"></script>
		<script src="/js/noty/jquery.noty.js"></script>
		<script src="/js/noty/layouts/top.js"></script>
		<script src="/js/noty/themes/default.js"></script>
		<script src="/js/jquery-effects.js"></script>
		<script src="/js/spin.min.js"></script>
		<script src="/js/util.js"></script>
		<script src="/js/quotes.js"></script>
    </body>
</html>